.ios .no-access-label {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 10%;
}

.md .no-access-label {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10%;
}