<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Activities</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class='welcome-label'>
        {{ this.description }}
    </h2>
    <ion-button expand="block" size="large" color="secondary" class='activities-button' *ngFor="let category of categories">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name={{category.icon}} size="large"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class='activities-label'>{{category.friendly_name}}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-button>
    <!-- <ion-grid fixed class='activities-grid'>
        <ion-row class='activities-row'>
            <ion-col>
                <ion-button expand="block" size="large" color="secondary" class='activities-button'>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="restaurant-sharp" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>FOOD AS FUEL</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" size="large" color="danger" class='activities-button'>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="american-football" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>PLAY:60</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class='activities-row'>
            <ion-col>
                <ion-button expand="block" size="large" class='activities-button' color="light">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="megaphone" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>LEADERSHIP</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" size="large" class='activities-button' color="warning">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="body" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>MIND & BODY</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class='activities-row'>
            <ion-col>
                <ion-button expand="block" size="large" color="success" class='activities-button'>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="earth" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>PLANET</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" size="large" color="tertiary" class='activities-button'>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="people" size="large"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class='activities-label'>COMMUNITY</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>