<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <i class="material-icons">electric_bolt</i>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <i class="material-icons">menu_book</i>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <i class="material-icons">home</i>
        </ion-tab-button>
        <ion-tab-button tab="tab3">
            <i class="material-icons">stars</i>
        </ion-tab-button>
        <ion-tab-button tab="tab3">
            <i class="material-icons">notifications</i>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>